body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  color: #ffffff;
}

a:hover {
  color: #e2b49a;
}

a:active {
  color: #e2b49a;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
}

.list-social {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.breadcrumbs {
  list-style: none;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.filters-list {
  list-style: none;
}

.filters-list li {
  display: inline-block;
}

.site-navigation,
.site-navigation-submenu {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
  font-weight: bold;
}

.site-navigation-current > a {
  color: #ffffff;
  background-color: #d07058;
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  text-decoration: none;
}

.user-navigation {
  list-style: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  text-decoration: none;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 3px 1px #999999;
}

.site-navigation-submenu {
  background-color: #f8f7f4;
}

.site-navigation-submenu a {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.site-navigation-submenu a:hover,
.site-navigation-submenu a:focus {
  background-color: #fbded7;
}

.site-navigation-submenu a:active {
  background-color: #f6b5a5;
}

.site-navigation-submenu a.current {
  background-color: #d07058;
}

.input-text {
  border: 2px solid #d3d3d3;
  color: #a1a1a1;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
}

.input-text:focus {
  border-color: #8fbdec;
}

.subscription-form textarea {
  border: 2px solid #d3d3d3;
  color: #a1a1a1;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
}

.subscription-form textarea:focus {
  border: 2px solid #8fbdec;
}

.search-form label,
.login-form label,
.subscription-form label {
  color: #b7b7b7;
  font-size: 14px;
  line-height: 24px;
}

.login-form-links a {
  color: #000000;
  font-size: 13px;
  line-height: 24p;
}

.btn {
  padding: 10px 25px;
  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.header-contacts {
  text-align: right;
}

.header-contacts p {
  font-size: 14px;
  line-height: 16px;
}

.header-contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
}

.carousel-indicators {
  list-style: none;
}

.carousel-item {
  font-size: 60px;
  line-height: 72px;
}

.carousel-item .btn {
  font-size: 32px;
  line-height: 44px;
}

.banners-list {
  list-style: none;
}

.banners-item:first-child {
  background-image: url("../img/banner1-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banners-item:last-child {
  background-image: url("../img/banner2-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banners-text {
  font-size: 18px;
  line-height: 22px;
}

.banners-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.catalog-item-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.weight {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-item img {
  border-radius: 50%;
}

.about-shop {
  background-color: #f0e5c6;
  background-image: url('../img/wafer-background.jpg');
  background-repeat: repeat;
  background-position: 0 0;
}

.about-shop-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.about-shop-text {
  color: #000000;
}

.blog-news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news-title {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.blog-news-link,
.blog-news-link:hover,
.blog-news-link:focus {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.subscription {
  background-color: #f8f7f4;
}

.subscription p {
  color: #000000;
}

.contacts {
  background-color: #ffffff;
  color: #000000;
}

.contacts-address dt {
  font-size: 14px;
  line-height: 20px;
}

.contacts-address dd {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-phone dt {
  font-size: 14px;
  line-height: 20px;
}

.contacts-phone dd a,
.contacts-phone dd a:hover {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-decoration: none;
}

.contacts-phone dd {
  font-size: 14px;
  line-height: 22px;
}

.footer-navigation ul {
  list-style: none;
}

.footer-navigation a {
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.filters-group {
  border: 0;
}

.filters-title {
  font-size: 14px;
  line-height: 16px;
}
