body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  color: #ffffff;
}

a:hover {
  color: #e2b49a;
}

a:active {
  color: #e2b49a;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
}

.list-social {
  list-style: none;
}

.list-social li {
  display: inline-block;
}

.social-link {
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #cccccc;
}

.social-link-tw {
  background: url('../img/twitter.svg') no-repeat 50% 50%;
}

.social-link-inst {
  background: url('../img/instagram.svg') no-repeat 50% 50%;
}

.social-link-fb {
  background: url('../img/fb.svg') no-repeat 50% 50%;
}

.social-link-vk {
  background: url('../img/vk.svg') no-repeat 50% 50%;
}

.breadcrumbs {
  display: flex;
  list-style: none;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.filters-list {
  list-style: none;
}

.filters-list li {
  display: inline-block;
}

.site-navigation,
.site-navigation-submenu {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
  font-weight: bold;
}

.site-navigation-current > a {
  color: #ffffff;
  background-color: #d07058;
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  text-decoration: none;
}

.user-navigation {
  list-style: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  text-decoration: none;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 3px 1px #999999;
}

.site-navigation-submenu {
  background-color: #f8f7f4;
}

.site-navigation-submenu a {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.site-navigation-submenu a:hover,
.site-navigation-submenu a:focus {
  background-color: #fbded7;
}

.site-navigation-submenu a:active {
  background-color: #f6b5a5;
}

.site-navigation-submenu a.current {
  background-color: #d07058;
}

.input-text {
  border: 2px solid #d3d3d3;
  color: #a1a1a1;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
}

.input-text:focus {
  border-color: #8fbdec;
}

.subscription-form textarea {
  border: 2px solid #d3d3d3;
  color: #a1a1a1;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
}

.subscription-form textarea:focus {
  border: 2px solid #8fbdec;
}

.search-form label,
.login-form label,
.subscription-form label {
  color: #b7b7b7;
  font-size: 14px;
  line-height: 24px;
}

.login-form-links a {
  color: #000000;
  font-size: 13px;
  line-height: 24p;
}

.btn {
  padding: 10px 25px;
  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  border: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(244,133,104) 100%);
  color: #ffffff;
}

.btn:active {
  background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.header-contacts {
  text-align: right;
}

.header-contacts p {
  font-size: 14px;
  line-height: 16px;
}

.header-contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
}

.carousel {
  margin-bottom: 40px;
}

.carousel-indicators {
  list-style: none;
}

.carousel-item {
  font-size: 60px;
  line-height: 72px;
}

.carousel-item .btn {
  font-size: 32px;
  line-height: 44px;
}

.banners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.banners-item {
  padding: 5px 30px;
  margin-bottom: 40px;
  width: 500px;
  height: 220px;
  border-radius: 20px;
}

.banners-item:first-child {
  background-image: url("../img/banner1-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banners-item:last-child {
  background-image: url("../img/banner2-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banners-text {
  font-size: 18px;
  line-height: 22px;
}

.banners-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.catalog-item .btn {
  order: 1;
}

.catalog-item-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.weight {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-item img {
  border-radius: 50%;
}

.about-shop {
  padding: 5px 30px;
  margin-bottom: 40px;
  background-color: #f0e5c6;
  background-image: url('../img/wafer-background.jpg');
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 20px;
}

.about-shop-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.about-shop-text {
  color: #000000;
}

.blog-news {
  float: left;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  width: 560px;
  height: 220px;
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 120% 20%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.blog-news-title {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.blog-news-link,
.blog-news-link:hover,
.blog-news-link:focus {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.subscription {
  float: right;
  padding: 0;
  margin-bottom: 40px;
  width: 560px;
  height: 220px;
  background-color: #f8f7f4;
  border-radius: 20px;
}

.subscription p {
  color: #000000;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 305px;
  background-color: #ffffff;
  color: #000000;
  min-height: 300px;
  border-radius: 15px;
}

.contacts-address dt {
  font-size: 14px;
  line-height: 20px;
}

.contacts-address dd {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-phone dt {
  font-size: 14px;
  line-height: 20px;
}

.contacts-phone dd a,
.contacts-phone dd a:hover {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-decoration: none;
}

.contacts-phone dd {
  font-size: 14px;
  line-height: 22px;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation a {
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.filters-group {
  border: 0;
}

.filters-title {
  font-size: 14px;
  line-height: 16px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  display: none;
}

/* ------ Сетка ------ */

html,
body {
  min-width: 1200px;
}

.content-wrapper {
  min-width: 1200px;
}

.main-header {
  margin: 0 auto;
  width: 1145px;
  padding: 10px 0 0 0;
}

.main-content {
  margin: 0 auto;
  padding: 0;
  width: 1145px;
}

.main-content::after {
  content: "";
  display: table;
  clear: both;
}

.map {
  width: 100%;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 20px auto 30px auto;
  width: 1145px;
}
